.stats-standings {
  gap: 20px;
  margin-top: 15px;
}

/* .Positive {
  color: #094;
}

.Negative {
  color: #d00;
} */

.city-name {
  width: 200px;
  align-items: center;
  display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

}

.teamName a {
  color: #333333;
  text-decoration: none;
}

.divwinper {
  width: 64.99px;
}

td:nth-child(5) {
  border-right: 1px solid #eee;
}

td:first-child {
  border-right: 4px solid #eee;
}

.pointsFor {
  width: 54.94px;
}

.pointsAgainst {
  width: 54.42px;
}

.netPoints {
  width: 74.38px;
}

.divrecord {
  width: 78.93px;
}

.teamName {
  width: 200px;
  height: 40px;
  padding: 0 15px;
}

.team-winorl {
  width: 58.03px;
}

.winper {
  width: 66.23px;
}

.conrecord {
  width: 76.31px;
}

.confwinper {
  width: 64.99px;
}

.nonConf {
  width: 85.35px;
}

.teamWin {
  width: 49.11px;
}

.teamLosses {
  width: 39.53px;
}

.teamTies {
  width: 39.53px;
}

/* 
.streak {
  width: 112.19px;
  } */

  td {
    /* padding: 8px 6px;
    font: 14px "Roboto Condensed", Arial, sans-serif;
background-color: #FFFFFF;
height: 41px;
font-weight: 400;
line-height: 1.25;
border-style: solid;
font-weight: 400;
    font-size: .875rem;
    font-family: Roboto Condensed,Arial,sans-serif;
    line-height: 1.25;
    text-align: left;
    white-space: nowrap;
    background-color: #fff;
    color: #000;
    border-top: 1px #ebe9e7;
    font-stretch: condensed; */
    padding: 0 15px;
    border-color: transparent;
    white-space: nowrap;
    /* text-align: left; */
    position: relative;
    height: 40px;
    color: #333333;
    font: 12px All-ProStats, Helvetica, Arial, sans-serif;
    /* border-bottom: 1px solid #eee; */
    font-weight: 100;
  }

  td:not(:first-child) {
    text-align: left;
  }

  td:first-of-type {
    font-family: All-ProSans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    min-width: 200px;
    width: 200px;
    text-align: left;
  }

  td:nth-child(11) {
    border-right: 1px solid #eee;
  }

  td:nth-child(13) {
    border-right: 1px solid #eee;
  }

  .winper::before {
    background: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: .04;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }