*, ::after, ::before {
  box-sizing: border-box;
  border: 0 solid;
}

.background-container {
    margin-top: -17px;
    flex-direction: row;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-top: 30px;
  margin-left:auto; 
  margin-right:auto;
  /* margin-left: 20px; */
}

.wins {
  width: 49.11px;
}

.lort {
  width: 39.53px;
}

.header {
  width: 200px;
  color: #333333;
  min-width: 200px;
  text-align: left;
}

.pointsScored {
  width: 54.94px;
}


.pointsAganist {
  width: 54.42px;
}

.divider {
  margin-top: 5px;
  border-bottom: none;
}

.netPts {
  width: 82.58px;
}

.pct {
  width: 66.23px;
  color: #151515;
  font-weight: 700!important;
}

.divPer {
  width: 78.93px;
}

.conf {
  width: 78.93px;
}

.touchdowns {
  width: 30.38px;
}

th:nth-child(11) {
  border-right: 1px solid #eee;
}
th:nth-child(13) {
  border-right: 1px solid #eee;
}

th {
  color: #333333;
  padding: 0 15px;
  font: 12px All-ProStats, Helvetica, Arial, sans-serif;
  height: 40px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

th:not(:first-child) {
  text-align: left;
}

.nonConf {
  width: 87.68px;
}

.teamw {
  width: 10.59px;
  height: 15.5px;
}

.teaml {
  width: 6.12px;
  height: 15.5px;
}

.runs {
  width: 40px;
}


.conference-title {

  height: 13.89;
  color: #333333;
  font-size: 14px;
  letter-spacing: .2px;
  text-align: left;
  text-transform: none;
  align-items: center;
  background-color: #fafafa;
  box-shadow: inset 0 -1px 0 0 #ccc;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  height: 48px;
  padding-left: 16px;
  width: 100%;
  margin-left: 420px;
  }