.container {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 189.33px;
  height: 126.38px;
}

.headCoach {
  text-align: left;
}
.coaches {
  text-align: left;
  margin-top: -15px;
}
.stadium {
  text-align: left;
  margin-top: -15px;

}
a {
  text-decoration: none;
}